* {
  box-sizing: border-box;
}
footer{

}
.site-footer
{
  background-color:#26272b;
  padding:25px 60px 20px 60px;
  font-size:20px;
  line-height:24px;
  color:#737373;

}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5;
  
}
.centrar{
  text-align: center;
}
.centrar a{
  color:#bbb;
  
}
.site-footer hr.small
{
  margin:15px 0
}

.logooo a{
  text-align: left;
  font-size: 0;
  padding: 0;
  position: relative;
  margin: 0 0 90px;

}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:35%;
  list-style:none;
  
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0;
  text-align: center;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
 
}
.social-icons li
{
  display:inline-block;
  margin-bottom:8px;
}
.social-icons li.title
{
  margin-right:30px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:20px
}
.social-icons a{
  background-color:#474747;
  color:#ffffff;
  font-size:20px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#ec8e39
}
.social-icons a.twitter:hover
{
  background-color:#ec8e39
}
.social-icons a.linkedin:hover
{
  background-color:#ec8e39
}
.social-icons a.dribbble:hover
{
  background-color:#ec8e39
}
.social-icons a.insta:hover
{
  background-color: #ec8e39;
}
.social-icons a.ws:hover
{
background:#ec8e39;
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.footer-container {
	width: 100%;
	background: #272727;
	color: #737373;
  font-size: 18px;  
  height: 470px;
}

.footer-main {
	width: 98%;
	max-width: 1000px;
	margin: auto;
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
}

.footer-main .footer-columna {
	width: calc(100% / 3);
	text-align: justify;
}


.footer-main .footer-columna:nth-child(2) {
	padding: 0 20px;
}

.footer-main .footer-columna h3 {
	font-size: 20px;
	color: #cccc;
	margin-bottom: 20px;
}

.footer-main .footer-columna span p {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 15px;

}
@media screen and (max-width: 800px)and (min-width: 601px){

  .footer-columna img{
    width: 80%;
  }

  .cent3{
    margin-top: 2%;
   
      transform: translate(250px);
      width: 50%;
 
    
  }

  .footer-container {
    width: auto;
    height: 550px;
  }
  
}


@media screen and (max-width: 768px)and (min-width: 736px){

  .footer-columna img{
    width: 80%;
  }

  .cent3{
    margin-top: 2%;
   
      transform: translate(350px);
      width: 50%;
 
    
  }
  
}

@media  screen and (max-width: 800px) {

  .info-main {
      padding: 30px 30px;
    }
  
    .footer-container {
      width: 100%;
     
      height: 900px;
    }
    .footer-main {
      padding: 10px 0;
    }
  
    .footer-main .footer-columna {
      width: 100%;
      text-align: center;
      margin: 5px 0;
    }
  
    .footer-main .footer-columna h3 {
      margin-bottom: 5px;
    }
  
    .social-icons a{
     
      font-size:15px;
      display:inline-block;
      line-height:34px;
      width:34px;
      height:34px;
      text-align:center;
      margin-right:8px;
      border-radius:100%;
      -webkit-transition:all .2s linear;
      -o-transition:all .2s linear;
      transition:all .2s linear
    }
    .site-footer .copyright-text .site-footer .social-icons
    {
      text-align:center;
    }
    .site-footer .social-icons
  {
    text-align:center;
    margin-right: 50%;
  }
  
  .footer-main {
    width: 80%;
    max-width: 100%;
    margin: auto;
  
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .footer-main .footer-columna {
    width: calc(100%);
    text-align: justify;
  }
  .centrar{
    text-align: center;
  }
  .centrarr{
    text-align: center;
    width: 100%;
  }
  
  .footer-links
  {
    padding-left:7%;
    list-style:none;
    
  }
  
  .footer-main .footer-columna h3 {
    font-size: 18px;
  
  }
  
  .container-footer{
    padding: 10px;
  }
  .container-footer ul{
    text-align: center;
    transform: translate(10px);
  
  }
  
  .site-footer
  {
    
    font-size:13px;
   
  }
  
  .cent3{
    transform: translate(50px);
  }
  .copyright-text
  {
    margin-left: 5%;
    
  }
  
  }


@media  screen and (max-width: 700px) {

  .info-main {
      padding: 30px 30px;
    }
  
    .footer-container {
      width: 100%;
     
      height: 900px;
    }
    .footer-main {
      padding: 10px 0;
    }
  
    .footer-main .footer-columna {
      width: 100%;
      text-align: center;
      margin: 5px 0;
    }
  
    .footer-main .footer-columna h3 {
      margin-bottom: 5px;
    }
  
    .social-icons a{
     
      font-size:15px;
      display:inline-block;
      line-height:34px;
      width:34px;
      height:34px;
      text-align:center;
      margin-right:8px;
      border-radius:100%;
      -webkit-transition:all .2s linear;
      -o-transition:all .2s linear;
      transition:all .2s linear
    }
    .site-footer .copyright-text .site-footer .social-icons
    {
      text-align:center;
    }
    .site-footer .social-icons
  {
    text-align:center;
    margin-right: 50%;
  }
  
  .footer-main {
    width: 80%;
    max-width: 100%;
    margin: auto;
  
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  
  .footer-main .footer-columna {
    width: calc(100%);
    text-align: justify;
  }
  .centrar{
    text-align: center;
  }
  .centrarr{
    text-align: center;
    width: 100%;
  }
  
  .footer-links
  {
    padding-left:7%;
    list-style:none;
    
  }
  
  .footer-main .footer-columna h3 {
    font-size: 18px;
  
  }
  
  .container-footer{
    padding: 10px;
  }
  .container-footer ul{
    text-align: center;
    transform: translate(10px);
  
  }
  
  .site-footer
  {
    
    font-size:13px;
   
  }
  
  .cent3{
    transform: translate(50px);
  }
  .copyright-text
  {
    margin-left: 5%;
    
  }
  
  }


@media  screen and (max-width: 600px) {

.info-main {
		padding: 30px 30px;
	}

	.footer-container {
    width: 100%;
   
    height: 900px;
  }
	.footer-main {
		padding: 10px 0;
	}

	.footer-main .footer-columna {
		width: 100%;
		text-align: center;
		margin: 5px 0;
	}

	.footer-main .footer-columna h3 {
		margin-bottom: 5px;
	}

  .social-icons a{
   
    font-size:15px;
    display:inline-block;
    line-height:34px;
    width:34px;
    height:34px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .site-footer .copyright-text .site-footer .social-icons
  {
    text-align:center;
  }
  .site-footer .social-icons
{
  text-align:center;
  margin-right: 50%;
}

.footer-main {
	width: 80%;
	max-width: 100%;
	margin: auto;

	display: flex;
	flex-wrap: wrap;
  text-align: center;
}

.footer-main .footer-columna {
	width: calc(100%);
	text-align: justify;
}
.centrar{
  text-align: center;
}
.centrarr{
  text-align: center;
  width: 100%;
}

.footer-links
{
  padding-left:7%;
  list-style:none;
  
}

.footer-main .footer-columna h3 {
	font-size: 18px;

}

.container-footer{
  padding: 10px;
}
.container-footer ul{
  text-align: center;
  transform: translate(10px);

}

.site-footer
{
  
  font-size:13px;
 
}

.cent3{
  transform: translate(50px);
}
.copyright-text
{
  margin-left: 5%;
  
}

}

@media  screen and (max-width: 375px){

  .cent3{
    margin-top: 5px;
    transform: translate(10px);
  }
   
}

@media  screen and (max-width: 412px){

  .cent3{
    margin-top: 5px;
    transform: translate(5px);
  }
   
}

@media  screen and (max-width: 472px){

  .cent3{
    margin-top: 5px;
    transform: translate(5px);
  }
   
}

@media  screen and (max-width: 350px){

  .info-main {
		padding: 30px 30px;
	}

	
	.footer-main {
		padding: 10px 0;
	}

	.footer-main .footer-columna {
		width: 100%;
		text-align: center;
		margin: 10px 0;
	}

	.footer-main .footer-columna h3 {
		margin-bottom: 5px;
	}

  .social-icons a{
   
    font-size:15px;
    display:inline-block;
    line-height:34px;
    width:34px;
    height:34px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  .site-footer .copyright-text .site-footer .social-icons
  {
    text-align:center;
  }
  .site-footer .social-icons
{
  text-align:center;
  margin-right: 50%;
}

.footer-main {
	width: 80%;
	max-width: 100%;
	margin: auto;
	padding: 50px 0;
	display: flex;
	flex-wrap: wrap;
  text-align: center;
}

.footer-main .footer-columna {
	width: calc(100%);
	text-align: justify;
}
.centrar{
  text-align: center;
}
.centrarr{
  text-align: center;
  width: 100%;
}

.footer-links
{
  padding-left:3%;
  list-style:none;
  
}

.footer-main .footer-columna h3 {
	font-size: 18px;

}

.container-footer{
  padding: 10px;
}
.container-footer ul{
  text-align: center;
  transform: translate(35px);
  margin-top: 20px;
}

.site-footer
{
  
  font-size:13px;
 
}

.cent3{
  transform: translate(50px);
}
 

.logooo img{
  width: 20%;
}

.footer-columna img{
  width: 100%;
}
}