.ir-arriba span{
	display:none;
	padding:100px;
	background:#ffffff;
	font-size:100px;
	color:#fff;
	cursor:pointer;
	position: fixed;
	bottom:100px;
	right:20px;
}

.ir-arriba img{
    border-radius: 100%;
}