* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "segoe ui";
  background: #eeeeee; 
}

.top{
  margin-top: 110px;
}
  .section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 0;
    box-sizing: border-box;
  }
  
  .card{
    width: 20%;
  }
  .prod h2{
    font-size: 35px;
    font-weight: bold;
    margin: 0.5em;
    color: #275a9d;
    text-align: center;
  
    text-shadow: 0 2px 2px #8d9b9b
}
  
  
  /*Estilo C*/
  .estilo-c{
    
    width: 22%;
  }
  .estilo-c .img-container{
    overflow: hidden;
    height: 200px;
    position:relative;
    background-color: #ffff;
    width: 90%;
  }
  .estilo-c .img-container img{
    width: 100%;
    position: absolute;
    top: 5%;
    transition: all 0.5s;
   
  }
 
  .estilo-c .img-container .promo{
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 18px;
    background: #ec8e39;
    padding: 10px;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }
  .estilo-c .info-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    height: 100px;
  width: 90%;
}
  
  .estilo-c .info-container h3{
    margin: 0;
  }
  .estilo-c .info-container h3,
  .estilo-c .info-container strong{
    padding: 15px 15px;
    width: 100%;
    background-color: #26599b;
    font-size: 18px;
    color: black;
  }
  .estilo-c .add-cart{
    margin-top: 2px;
    text-decoration: none;
    color: rgb(8, 8, 8);
    background-color: black;
    padding: 15px;
    border: 1px solid black;
    border-radius: 25px;
  }
  .estilo-c .add-cart:hover{
    color: black;
    background-color: transparent;
    border: 1px solid black;
  }
  .estilo-c .info-container span{
    padding: 5px 5px;
    width: 100%;
    background-color: #26599b;
    font-size: 15px;
    color: rgb(216, 216, 216);
    text-align: justify;
  }

  .info-container {
   max-width: 100%;
  }
.info-container a{
  color: #ec8e39;
}


.section2{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px 20px;
  box-sizing: border-box;
}

.card2{
  width: 30%;
}

.estilo-c2 .img-container2{
  overflow: hidden;
  height: 400px;
  position:relative;
  background-color: #ffff;
  width: 90%;
}
.estilo-c2 .img-container2 img{
  width: 90%;
  position: absolute;
  top: 5%;
  transition: all 0.5s;
 
}

.estilo-c2 .img-container2 .promo2{
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 18px;
  background: #ec8e39;
  padding: 10px;
  color: black;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}
.estilo-c2 .info-container2{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  font-size: 15px;
  height: 100px;
width: 90%;
}

.estilo-c2 .info-container2 h3{
  margin: 0;
}
.estilo-c2 .info-container2 h3,
.estilo-c2 .info-container2 strong{
  padding: 15px 15px;
  width: 100%;
  background-color: #26599b;
  font-size: 18px;
  color: black;
}
.estilo-c2 .add-cart2{
  margin-top: 2px;
  text-decoration: none;
  color: rgb(8, 8, 8);
  background-color: black;
  padding: 15px;
  border: 1px solid black;
  border-radius: 25px;
}
.estilo-c2 .add-cart:hover{
  color: black;
  background-color: transparent;
  border: 1px solid black;
}
.estilo-c2 .info-container2 span{
  padding: 5px 5px;
  width: 100%;
  background-color: #26599b;
  font-size: 15px;
  color: rgb(216, 216, 216);
  text-align: justify;
}



@media only screen and (max-width: 1180px) and (min-width: 605px) {

  .prod h2 {
    font-size: 35px;
    font-weight: bold;
    margin: 0.5em;
    color: #275a9d;
    text-align: center;
    text-shadow: 0 2px 2px #8d9b9b;
    margin-top: 20%;
}

  .card{
    width: 22%;
    margin-top: 40px;
  }

  .estilo-c .img-container{
    overflow: hidden;
    height: 150px;
    position:relative;
    width: 100%;
   
  }

  .estilo-c:hover .img-container{
    transform: scale(1);

    
  }
  .img-container img{

   height: 180px;
    
  }

  .estilo-c .info-container span{
    padding: 5px;
    flex-wrap: wrap;
    height: 200px;
    width: 255px;
    font-size: 18px;
   
  }


  .estilo-c .img-container .promo{
    position: auto;
    top: 10px;
    left: 0;
    font-size: 15px;
    background: #ec8e39;
    padding: 5px;
    color: black;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
  }

  .estilo-c .info-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: 18px;
    height: 100px;
    width: 100%;
}
}
  @media screen and (max-width: 604px) and (min-width: 450px) {


    .card{
      width: 47%;
      margin-top: 60px;
    }

    .estilo-c .img-container{
      overflow: hidden;
      height: 160px;
      position:relative;
      width: 90%;
     
    }

    .estilo-c:hover .img-container{
      transform: scale(1);

      
    }
    .img-container img{
  
     height: 180px;
      
    }

    .estilo-c .info-container span{
      padding: 10px;
      flex-wrap: wrap;
      height: 190px;
      width: 100%;
      font-size: 18px;
     
    }


    .estilo-c .img-container .promo{
      position: auto;
      top: 10px;
      left: 0;
      font-size: 15px;
      background: #ec8e39;
      padding: 5px;
      color: black;
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;
    }

    .estilo-c .info-container{
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      font-size: 18px;
      height: 150px;
      width: 90%;
   
  }
    
  }

  
 
  @media screen and (max-width: 450px) and (min-width: 360px) {

    .prod h2{
      font-size: 25px;
      font-weight: bold;
      margin: 0.5em;
      color: #275a9d;
      text-align: center;
    
      text-shadow: 0 2px 2px #8d9b9b
  }
   
    .card{
      width: 45%;
      margin-top: 60px;
    }

    .estilo-c .img-container{
      overflow: hidden;
      height: 160px;
      position:relative;
      width: 90%;
     
    }

    .estilo-c:hover .img-container{
      transform: scale(1);

      
    }
    .img-container img{
  
     height: 180px;
      
    }

    .estilo-c .info-container span{
      padding: 5px;
      flex-wrap: wrap;
      height: 200px;
      width: 100%;
      font-size: 14px;
     
    }


    .estilo-c .img-container .promo{
      position: auto;
      top: 10px;
      left: 0;
      font-size: 12px;
      background: #ec8e39;
      padding: 5px;
      color: black;
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;
    }

    .estilo-c .info-container{
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      font-size: 18px;
      height: 150px;
      width: 90%;
   
  }
    
  }

  @media screen and (max-width: 360px) and (min-width: 300px) {


    .card{
      width: 45%;
      margin-top: 60px;
    }

    .estilo-c .img-container{
      overflow: hidden;
      height: 160px;
      position:relative;
      width: 90%;
     
    }

    .estilo-c:hover .img-container{
      transform: scale(1);

      
    }
    .img-container img{
  
     height: 180px;
      
    }

    .estilo-c .info-container span{
      padding: 5px;
      flex-wrap: wrap;
      height: 180px;
      width: 100%;
      font-size: 15px;
     
    }


    .estilo-c .img-container .promo{
      position: auto;
      top: 10px;
      left: 0;
      font-size: 15px;
      background: #ec8e39;
      padding: 5px;
      color: black;
      border-bottom-right-radius: 25px;
      border-top-right-radius: 25px;
    }

    .estilo-c .info-container{
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      font-size: 18px;
      height: 150px;
      width: 90%;
   
  }
    
  }