* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html{
  padding: 0;
}

:root {
	--font-family: 'Roboto', sans-serif;
  
	--white: #fff;
	--black: #000;
	--dark-blue: #0a3b9d;  
	--light-blue: #275a9d;
  --azul-claro:#e6edf7;
	--gris: #eff1f3;
	--orange:#ec8e39;
	--green: #2ea940;
  --red: #ba1919;

  --facebook: #3b5998;
  --instagram: linear-gradient( #405DE6,#5B51D8, #833AB4, #C13584, #E1306C, #FD1D1D, #F56040, #F77737, #FCAF45, #FFDC80);;
	--linkedin: #0e76a8;
  --whatsapp: #2db742;

  --sm: 1.2rem;
	--md: 1.4rem;
	--lg: 2.4rem;
  --xlg: 3rem;
}

.orange{
  color: var(--orange);
}

.green{
  color: var(--green);
}

.red {
  color: var(--red);
}


.hr{
  width: 80%;
  margin: auto;
}
body{
  font-family: var(--font-family);
  background: var(--white);
}

li{
  list-style: none;
}

a {
  text-decoration: none;
}


/* ----- main ----- */

main {
  width: 100%;
  padding-top: 30px;
}

.button-carrousel-circle{
  border-radius: 20px;
  background: #8f8f8fdd;
}

/* ---- encabezado ---- */
.encabezado{
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 40px 0px 54px 0px;
  text-align: center;
}

.encabezado h1{
  position: relative;
  line-height: 5vw;
  font-size: var(--xlg);
  color: #275a9d;
  font-weight: 600;
  text-shadow: 0 2px 2px #5a5e5e;
}
.encabezado h1::after{
  border-bottom: 3px solid var(--orange);
  content: ""; 
  display: block;
  position: absolute;
  left: 1%;
  width: 25%;
}
.encabezado p {
  font-size: var(--md);
}

.subtitle{
  font-size: var(--md);
  margin: 14px 24px 0px 24px;
  width: 75%;
}
.subtitle strong{
  color: var(--orange);
}

.wrapper-cards{
  width: 90%;
  margin: 24px auto;
  max-width: 80rem;
  z-index: 100;
}

.cards-container{
  display: -webkit-box;
  display: -ms-flexbox;
  z-index: 100;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card_service{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
  position: relative;
  z-index: 100; 
}

.cards_container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
  border-radius: 10px;
	background-position: center;
	-webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #cedce7;
  background: -webkit-linear-gradient(20deg,  #cedce7 0%,#0c2168 100%);
  background: -o-linear-gradient(20deg,  #cedce7 0%,#132c7c 100%);
  background: linear-gradient(20deg,  #cedce7 0%,#1a2f75 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    /*z-index: 2;*/
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.cards_container:hover .front,
.cards_container:hover .back{
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    /* z-index: 3; */
}

.back .inner p{
  font-size: 18px;
}

.cards_container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.cards_container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.cards_container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.cards_container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 24px;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255, 255, 255, 0.7);
  font-size: 18px;
}

@media screen and (max-width: 64rem){
  .card_service{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .card_service{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .card_service{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/* ---- capacitacion ---- */
.capacitacion {
  width: 100%;
  margin: 100px 0 24px 0;

}

.capacitacion div{ position: relative; }
.capacitacion img { width: 100%; }

.capacitacion a {
  position: absolute;
  left: 40.5%;
  right: 40.5%;
  bottom: 0;
}

.capacitacion a button {
  padding: 12px;
  border-radius: 5px;
  border: none;

  transform: 0.3 ease;

  background: var(--orange);
  color: var(--white);
  font-weight: 500;
}
.capacitacion a button:hover {
  box-shadow: 0 2px 4px rgba(10, 0, 0, 0.491);
  background: var(--whie);
  color: var(--black);
} 

/* ----- promotions -----*/
.promotions-service{
  margin: 100px 0;
}
.promotions-service header {
  margin: 40px auto;
}
.promotions-service header h2{
  text-align: center;
  font-size: var(--lg);
  color: #275a9d;
  font-weight: 600;
  text-shadow: 0 2px 2px #5a5e5e;
}

.promotions-service > article{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin: auto;
}

.promotion {
  position: relative;
  width: 90%;
  padding: 0px 0px 24px 0px;

  border: 1px solid rgba(40, 68, 151, 0.334);
  border-radius: 10px;
  margin: 0 auto;
  background-color: var(--white);
}

.promotion:hover{
  box-shadow:
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.promotion header {
  display: block;
  width: 100%;
  margin: 12px 0 0 0;
  padding: 12px;
  text-align: center;
}

.promotion h3 {
  position: relative;
  line-height: 7vh;
  font-weight: 700;
  color: var(--light-blue);
} 
.promotion h3::after{
  border-bottom: 3px solid var(--orange);
  content: ""; 
  display: block;
  position: absolute;
  left: 10%;
  right: 10%;
  width: 80%;
}

.list-promo {
  padding: 0;
  padding: 12px;
}
.list-promo div {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-bottom: 12px;
}
.list-promo  p {
  font-size: var(--sm);
  margin: 0;
}

.button-promo {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 60%;
  margin: 0 auto 12px auto;
  padding: 12px;
  border: none;
  border-radius: 5px;

  background-color: var(--orange);
}

.button-promo a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--sm);
  font-weight: 500;
}
.button-promo a:hover{
  color: var(--white);
}
/* ---- sobre nosotros ----*/

.encabezado .title-h2 {
  position: relative;
  line-height: 5vw;
  font-size: var(--lg);
  color: #275a9d;
  font-weight: 600;
  text-shadow: 0 2px 2px #5a5e5e;
  text-align: center;
}
.encabezado .title-h2::after{
  border-bottom: 3px solid var(--orange);
  content: ""; 
  display: block;
  position: absolute;
  top: 60px;
  left: 0.5%;
  width: 25%;
}

.about-us {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  place-items: center;
}

.about-us .button-azul{
  grid-area: 2 / 2;
}

.button-azul button {
  padding: 12px;
  width: 200px;
  border-radius: 5px;
  border: 3px solid var(--light-blue);
  background: var(--white);
  color: var(--black);
  font-weight: 600;
}
.button-azul button:hover{ 
  background: var(--light-blue);
  color: var(--white);
}
.about-us .circle-div {
  width: 240px;
  height: 300px;
  border-radius: 15px;
  background: var(--orange);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.3s ease;
}

.about-us article p{
  text-align: center;
  width: 200px;
  font-size: var(--md);
  color: var(--white);
  text-shadow: 4px 4px 4px rgba(0, 0, 10, 0.681);
}

.about-us article a{
  text-decoration: none;
}
.about-us .circle-div .icon-div {
  font-size: 50px;
  color: var(--white);
}

/* ---- contact ---- */

.contact {
  background-image: url('../../nuevas/fondofor.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding-bottom: 34px;
}

.contact .contact_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact .google-maps {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-title {
  position: relative;
  line-height: 5vw;
  font-size: var(--lg);
  color: var(--white);
  font-weight: 600;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 34px;
}
.contact-title::after{
  border-bottom: 3px solid var(--orange);
  content: ""; 
  display: block;
  position: absolute;
  left: 20%;
  width: 60%;
}

.contact .content-form{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.header-label {
  background: #333;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;


  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}
.header-label p {
  margin-bottom: 0px;
  color: var(--white);
}
.form {
  width: 80%;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 24px 24px 24px;
  border: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form .div-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px;
  position: relative;
}

.div-input .input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 12px 12px 12px 12%;
  color: var(--black);
}

.div-input .input:focus{
  outline: 3px solid #ec8d39;
}
.div-input .icon-input{
  position: absolute;
  top: 20%;
  left: 4%;
  color: var(--orange);
  font-size: var(--lg);
}

.form .button{
  width: 95%;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: var(--orange);
  color: var(--white);
  font-weight: 500;
}

.social{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
}

.social a{
  text-decoration: none;
}

.facebook,
.instagram,
.linkedin,
.whatsapp
{
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: none;
  
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: var(--white);
}

.facebook{
  background: var(--facebook);
}
.instagram{
  background-image: var(--instagram);
}
.linkedin{
  background: var(--linkedin);
}
.whatsapp{
  background: var(--whatsapp);
}
.row {
  width: 101%;
}

   h4{
    position: relative;
    margin: auto;
    text-align: center;
    line-height: 5vw;
    font-size: 50px;
    color: #275a9d;
    width: 70vw;
    font-weight: 700;
    text-shadow: 0 2px 2px #8d9b9b;
   
    margin-bottom: 20px;
  }
  .section-service h3{
    position: relative;
    margin: auto;
    text-align: center;
    line-height: 5vw;
    font-size: 50px;
    color: #275a9d;
    width: 70vw;
    font-weight: 700;
    text-shadow: 0 2px 2px #8d9b9b;
   
    margin-bottom: 20px;
  }

@media only screen and (max-width:1100px) {
  .group-service .service {
    max-width: 45vw;
  }
}

@media only screen and (max-width:1000px) {
  /* ---- promocion ---- */
  .promotions-service > article{
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
  .promotion { width: 90%; }
}

@media only screen and (max-width: 850px) {
  .contact .contact_container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
}

@media only screen and (max-width: 743px) {
  .contact .content-form {
    width: 100%;
    margin-top: 40px;
  }

  .facebook, .instagram, .linkedin, .whatsapp {
    width: 150px;
    justify-content: space-around;
  }
}

@media only screen and (max-width: 711px) {
  .about-us .circle-div {
    width: 70%;
    margin: auto;
    transition: 0.5s ease;
  }

  .about-us article { width: 100%; }
  .about-us .circle-div:hover{
    width: 75%;
    box-shadow: 5px 8px 8px rgba(0, 0, 10, 0.41);
  }
}

@media only screen and (max-width: 680px) {
  /* ---- vars ---- */
  :root{
    --sm: 1rem;
    --md: 1.2rem;
    --lg: 2rem;
    --xlg: 2.5rem;
  }
  /* ---- promocion ---- */
  .promotion { width: 90%; padding: 0;}
  .promotion header { padding: 8px; }
  .list-promo { padding: 8px; }
}

@media only screen and (max-width: 600px) {
  /* ---- vars ---- */
  :root{
    --sm: 1rem;
    --md: 1.2rem;
    --lg: 2rem;
    --xlg: 2.5rem;
  }
  /* ---- promocion ---- */
  .promotions-service > article {gap: 0;}
  .promotion { width: 95%; padding: 0;}

  /* ---- capacitacion ---- */
  .capacitacion img {
    height: 250px;
  }
  .capacitacion a{
    left: 40%;
  }

  .capacitacion button{
    padding: 8px;
    width: 160px;
  }
}

@media only screen and (max-width: 520px) {
  /* ---- vars ---- */
  :root{
    --sm: 1rem;
    --md: 1.2rem;
    --lg: 1.8rem;
    --xlg: 2rem;
  }
  /* ---- promocion ---- */
  .promotions-service > article { grid-template-columns: repeat(1, 1fr); gap: 24px;}
  .promotion { width: 87%; padding: 0;}

  /* ---- capacitacion ---- */
  .capacitacion {
    margin: 0;
  }
  .capacitacion img {
    height: 150px;
  }
  .capacitacion button { width: 120px; }
  .capacitacion a{
    left: 35%;
    right: 35%;
    font-size: 12px;
  }

  /* --- cuadros de acerca de nosotros --- */
  .about-us .circle-div {
    width: 80%;
    height: 250px;
    margin: auto;
    transition: 0.5s ease;
  }
}
@media only screen and (max-width:702px) {

  .encabezado .title-h2::after,
  .contact-title::after,
  .encabezado .title-h2::after { display: none !important; }
}

@media only screen and (max-width: 400px) {
  .encabezado p {
    font-size: var(--sm);
    width: 95%;
  }
}
@media only screen and (max-width:946px) {
  .group-service{
    display: grid;
    grid-template-columns: 1fr;
    gap: 44px;
  }
  .section-service::after{
    display: none;
  }
  .group-service::after{
    display: none;
  }

  .group-service .service {
    margin: auto;
    max-width: 100%;
    width: 80%;
    box-shadow: 1px 8px 8px rgba(0, 0, 10, 0.41);
    padding: 24px;
    border-radius: 15px;
  }
}

@media only screen and (max-width:870px) {
  .encabezado .title-h2{
    line-height: 6vh;
    top: 0;
  }
  .encabezado .title-h2::after {
    display: inline-block;
    left: 10.5%;
    width: 25%;
  }
}

@media only screen and (max-width:850px) {
  .encabezado .title-h2::after {
    left: 8%;
    width: 25%;
  }
  .about-us {
    gap: 24px;
  }
}

@media only screen and (max-width:800px) {
  .footer .footer-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
  }
  
  .footer .footer-row .footer-column:nth-child(5) {
    grid-area: 5;
    text-align: left;
  }

  .footer .img-footer {
    width: 40%;
  }

  .footer .footer-row .footer-column:nth-child(2), 
  .footer .footer-row .footer-column:nth-child(3) {
    align-items: flex-start;
  }

  .footer .footer-row .footer-column:nth-child(2) ul, 
  .footer .footer-row .footer-column:nth-child(3) ul {
    position: initial;
  }
}

@media only screen and (max-width:789px) {
  .encabezado h1{
    line-height: 10vh;
    font-size: 40px;
  }
  .encabezado h1::after{
    display: block;
  }
  .encabezado h2{
    width: 100%;
  }

}

@media only screen and (max-width:711px) {
  .about-us {
    gap: 18px;
    grid-template-columns: 1fr;
    place-items: center;
  }
  .about-us .button-azul{
    grid-area: 4/1;
    padding-bottom: 34px;
  }

  .contact-title {
    line-height: 8vh;
  }
  .contact-title::after {
    border-bottom: 3px solid var(--orange);
    content: "";
    display: block;
    position: absolute;
    left: 20%;
    top: 50%;
    width: 60%;
  }

  .encabezado .title-h2::after {
    top: 50px;
    left: 5%;
  }
}

@media only screen and (max-width:636px) {
  .encabezado h1{
    line-height: 8vh;
    font-size: 40px;
  }
  .encabezado h1::after{
    display: inline-block;
    left: 20%;
  }
}
@media only screen and (max-width: 450px) {
  .w-100 {
    height: 200px;
  }

  .form {
    width: 100%;
    padding: 12px;
  }
}
@media only screen and (max-width: 400px) {
  .w-100 {
    height: 200px;
  }
  .encabezado h1 {
    line-height: 4vh;
    font-size: 30px;
  }

  .encabezado h1::after {
    display: none;
  }

  .subtitle{
    font-size: var(--md);
  }
  .group-service .service {
    width: 95%;
  }
  .group-service .service .sub-title {
    font-size: 15px;
    text-align: center;
  }

  .encabezado .title-h2 {
    position: relative;
    line-height: 8vw;
    font-size: 30px;
  }

  .encabezado .title-h2::after {
    display: none;
  }

  .ubicacion-title {
    line-height: 9vw;
    font-size: 30px;
    margin-top: 34px;
    margin-bottom: 44px;
  }
  .contact-title {
    line-height: 8vw;
    font-size: 30px;
  }

  .form {
    width: 100%;
    padding: 12px;
  }
} 

@media only screen and (max-width: 375px) {
  .w-100 {
    height: 200px;
  }
}